.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 3.5rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.2);
	border-bottom: 2px solid rgba(171, 136, 102, 0.6);;
	z-index: 10;
}